@import '../../../global-styles/responsive';

.dashboard-layout {
    // position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .sec-1 {
        flex: 0.05;
        height: 100vh;
        background-color: var(--royal-blue-color);
    }

    .sec-2 {
        flex: 0.95;
        // background-color: var(--yellow-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

    }

    @include md {
        .sec-1 {
            flex: 0.15;
        }
    
        .sec-2 {
            flex: 0.85;
        }
    }
}